*{
    padding: 0;
    margin: 0;
}

#aqui > a {
    text-decoration: none;
    color: white;
    font-family: 'Caveat', cursive;;
    font-size: 1.6em;
    padding: 10px;
    background-color: #333333;
    border-radius: 5px;
}
.primeiro-campo {
    margin-bottom: 10px;
}
.submit {
    margin-bottom: 20px;
    
}
.section-contato {
    margin-top: 30px;
    margin-bottom: 20px;
}
.form-input {
    border-radius: 5px;
}
#textbox {
    height: 100px;
    width: 280px;
}
.secund-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

